<!DOCTYPE html>
<html>
    <head>
        <title>Rate Result</title>
    </head>
    <body>
        <center>
        <h1>Postage Rate</h1>
        <p>Weight: <%=weight%></p>
        <p>Type:<%=type%></p>
        <p>Cost:<%=cost%></p>
        </center>
    </body>
</html>