<!DOCTYPE html>
<html>
    <head>
        <title>Rate Result</title>
    </head>
    <body>
        <center>
            <%if(weight <= 13){ %>
            <h1>Postage Rate</h1>
            <p>Weight: <%=weight%></p>
            <p>Type:<%=type%></p>
            <p>Cost:<%=cost%></p>
            <%} else{%><p>Can't weigh more than 13oz</p><%}%>
        </center>
    </body>
</html>